# Hello world

In [1]:
print('hello world')
print("hi")

hello world
hi

# Variables

In [2]:
x = 3
phrase = "This is a phrase"
y = 5.4

type(y), phrase, x

(float, 'This is a phrase', 3)

# IF, Else

In [112]:
a = 4
b = 3
if a > b:
    print("a greater than b")

a greater than b

# While Loop

In [113]:
i = 1
while i < 100:
    print(i, end=' ')
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

# For Loop

In [124]:
for i in range(100):
    print(i, end=' ')
    if i == 50:
        break

print('---------')
a = [i**2 for i in range(10)]
print(a)

print('---------')
# Step
for i in range(0, 100, 2):
    print(i, end=' ')

print('\n---------')
    
# For else announces us that the loop has finished normally.
for i in range(100):
    print(i, end=' ')
else:
    print('Finished')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 ---------
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
---------
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98
---------
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 Finished

# Strings

In [27]:
a = ' Machine Learning '
a

' Machine Learning '

## Strip

In [20]:
# Strip
a = a.strip()
print(len(a), a)

13 my name is {}

## Slicing

In [21]:
# Slicing
print(a[0:3])
print(a[0:-1])
print(a[3:])
print(a[:4])

my
my name is {
name is {}
my n

## Replace

In [ ]:
# Replace
a = a.replace('Machine', 'Reinforcement')
print(a)

## Split

In [ ]:
# Split
b = a.split(' ')
print(b)

## Concat

In [22]:
# Concat
c = 'AI'
d = a + c
print("d: ", d)

d:  my name is {}AI

## Format

In [30]:
a = "my name is {1} and I am {0} years old."
print(a.format('22', 'amir'))

my name is amir and I am 22 years old.

## F string

In [31]:
name = 'amir'
age = 22
b = f"my name is {name} and I am {age} years old."
print(b)

my name is amir and I am 22 years old.

# Boolean

In [37]:
# True or False

a = True
b = False

print(a and b)
print(a or b)

num1 = 7
num2 = 5

ex1 = num1 > num2
ex2 = num1 == num2
ex3 = num1 < num2

print("ex1: ", ex1)
print("ex2: ", ex2)
print("ex3: ", ex3)

False
True
ex1:  True
ex2:  False
ex3:  False

## Bitwise and, or

In [38]:
a = 5
b = 2

print(a & b)
print(a | b)

0
7

## List

In [50]:
list_a = ['England', 'Iran', 'USA', 'Wales']

print(list_a[0])
print(list_a[0:])
list_a[2] = "United States of America"
print(list_a)

list_a.append('Group B')
print(list_a)

list_a.pop()
print(list_a)

list_a.insert(1, 'Group B')
print(list_a)

list_a.pop(1) # or "Group B"
print(list_a)

England
['England', 'Iran', 'USA', 'Wales']
['England', 'Iran', 'United States of America', 'Wales']
['England', 'Iran', 'United States of America', 'Wales', 'Group B']
['England', 'Iran', 'United States of America', 'Wales']
['England', 'Group B', 'Iran', 'United States of America', 'Wales']
['England', 'Iran', 'United States of America', 'Wales']

## Loop through list

In [58]:
for i in range(len(list_a)):
    print(list_a[i])
    
print('---------')
    
for i in list_a:
    print(i)

England
Iran
United States of America
Wales
---------
England
Iran
United States of America
Wales

## Sort list

In [64]:
a = [2, 4, 1, 5]
a.sort()
print(a)

# reverse
a.sort(reverse=True)
print(a)

a.reverse()
print(a)

[1, 2, 4, 5]
[5, 4, 2, 1]
[1, 2, 4, 5]

## Copy Lists

In [68]:
a = [1, 2, 3, 4]

# Wrong job
b = a

print(b)

print('----------')

a[0] = 3
print(b)

# Right job
c = a.copy()

a[0] = 4
print("c is: ", c)
print("b is: ", b)

[1, 2, 3, 4]
----------
[3, 2, 3, 4]
c is:  [3, 2, 3, 4]
b is:  [4, 2, 3, 4]

## Tuples

In [76]:
a = (1, 2, 3)
a[0]

# a[0] = 3 # error

b = (4, 5)

a += b
print(a)

(1, 2, 3, 4, 5)

## Sets

In [85]:
a = {"amir", "ali", "amir", "ali"}
print(a)

for i in a:
    print(i)
    
# add
a.add("mohammad")

print(a)

print('-------')

# Update

b = {"hamid", "hesam"}
a.update(b)

print(a)

# Remove

a.remove("amir")
print(a)

# Join
a.update(b)
print(a)

c = a.union(b)

print(c)

{'amir', 'ali'}
amir
ali
{'amir', 'ali', 'mohammad'}
-------
{'amir', 'mohammad', 'hesam', 'hamid', 'ali'}
{'mohammad', 'hesam', 'hamid', 'ali'}
{'mohammad', 'hesam', 'hamid', 'ali'}
{'mohammad', 'hesam', 'hamid', 'ali'}

## Dictionaries

In [111]:
di = {
    "name": "Messi",
    "age": 35,
    "club": "PSG",
    "Nation": "ARG",
}

di["name"]

# Keys
di.keys()

# Update
di["name"] = "linoel messi"
di.update({
    "best_friend": "Aguero"
})

print(di)

# Remove
di.pop("best_friend")
print(di)

print('--------')

# Loop

# Through Keys
for i in di.keys():
    print(i)
print('-------')    
# Through Value
for i in di.values():
    print(i)
print('-------')    
# Through Boths
for idx, val in di.items():
    print(idx, ": ", val)

{'name': 'linoel messi', 'age': 35, 'club': 'PSG', 'Nation': 'ARG', 'best_friend': 'Aguero'}
{'name': 'linoel messi', 'age': 35, 'club': 'PSG', 'Nation': 'ARG'}
--------
name
age
club
Nation
-------
linoel messi
35
PSG
ARG
-------
name :  linoel messi
age :  35
club :  PSG
Nation :  ARG

# Functions

In [152]:
def my_sum(a, b, c=3) -> int:
    return a + b + c

print(my_sum(1.4, 2))

6.4

# Lambda

In [156]:
import math
power = lambda x, y : math.sqrt(x**2 + y**2)
power(3, 4)

5.0

# Try Except

In [170]:
a = input()
b = input()

try:
    print(int(a) / int(b))
except ArithmeticError:
    raise Exception('b can not be zero')
else:
    print('with no error')
finally:
    print('It always executes')

1
2
0.5
with no error
It always executes

# Classes

In [ ]:
class Player:
    def __init__(self, name, age, club):
        self.name = name
        self.age = age
        self.club = club
    
    def get_club(self):
        return f"{self.name}'s club is {self.club}"
    
p1 = Player(name='Messi', age=35, club='PSG')
p1.get_club()

# Inheritance

In [203]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"{self.name} is {self.age} years old."

    
p1 = Person(name='Amir', age=22)
print(p1)


class Student(Person):
    def __init__(self, name, age, major):
        super().__init__(name=name, age=age)
        self.major = major
    
    def __str__(self):
        return super().__str__() + f" and major is {self.major}"
    
s1 = Student(major='Computer Engineering', name=p1.name, age=p1.age)
print(s1)

Amir is 22 years old.
Amir is 22 years old. and major is Computer Engineering

In [193]:
isinstance(p1, Student)

False